.main {
  max-width: 1440px;
  margin: auto;
  padding: 20px;
}

.navbar {
  max-width: 1440px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
