.productCard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.productCard img {
  background-color: #fff;
  margin-bottom: 20px;
  object-fit: contain;
  border-radius: 5px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.price {
  margin-top: 5px;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .productGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 820px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .productGrid {
    grid-template-columns: 1fr;
  }
}